# SPDX-License-Identifier: GPL-2.0-only

config AKS_ADC_JOYSTICK
	tristate "AKS ADC Joystick input"
	depends on IIO
	select IIO_BUFFER_CB
	help
	  Say Y here if you have a aks joystick connected over ADC.

	  To compile this driver as a module, choose M here: the
	  module will be called aks-adc-joystick.
